name: Android Build with Permissions

on:
  push:
    branches: [master, main]
  workflow_dispatch:

env:
  BUILD_NUMBER: 1
  BUILD_VERSION: 1.0.0
  PYTHON_VERSION: 3.12.2
  FLUTTER_VERSION: 3.27.3 

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install Deps
      run: |
        pip install -r requirements.txt
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ env.FLUTTER_VERSION }}
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Flet Build APK
      run: |
        flet build apk --no-interactive --build-number=$BUILD_NUMBER --build-version=$BUILD_VERSION --permissions POST_NOTIFICATIONS

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: android-apk-with-notifications
        path: build/apk
