name: Android Build with Notifications

on:
  push:
    branches: [master, main]
  workflow_dispatch:

env:
  BUILD_NUMBER: 1
  BUILD_VERSION: 1.0.0
  PYTHON_VERSION: 3.12.2
  FLUTTER_VERSION: 3.27.3 

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Setup Java JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Flet Build APK
        run: |
          flutter config --no-analytics
          flet build apk --no-interactive --verbose \
            --build-number=$BUILD_NUMBER \
            --build-version=$BUILD_VERSION \
            --android-permissions android.permission.POST_NOTIFICATIONS

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Archemede-School-Android
          path: build/apk
